{% extends 'products/base.html' %}
{% load static %}

{% block navbar %}
    {% for category in categories %}
        <li><a class="nav-link" href="{{ category.get_url }}">{{ category }}</a></li>
    {% endfor %}
{% endblock navbar %}

{% block content %}

    <h1>Регистрация</h1>
    <form method="post">
        {{ form }}
        {% csrf_token %}
        <br>
        <br>
        <br>
        <input type="submit" value="Зарегистрироваться">
    </form>
        <br>
    <a href="{% url 'log-url' %}">Есть аккаунт? Войти</a>

{% endblock content %}
